<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/settings.css">
<!--    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!--    <script src="/scripts/  vue.min.js"></script>-->
    <title>Settings - V-Sasver</title>
  </head>
  <body>

    <h1 class="page-title" >
      <img src="./assets/img/videoscreensaver-gradient-icon.png"
           class="logo" id="logoImg"/>
      Settings
    </h1>

    <div class="main-content" id="settings">

      <p id="message" :class="{'show-message' : showMessage}">{{ message }}</p>
      <div id="sectionsNav">
        <ul>
          <li :class="tab1ActiveClass">
            <button id="go_tab1" @click.prevent="handleTabSwitch('tab1')">Appearance/Behavior</button>
          </li>
          <li :class="tab2ActiveClass">
            <button id="go_tab2" @click.prevent="handleTabSwitch('tab2')">Files</button>
          </li>
        </ul>
      </div>
      <div id="sectionsWrapper">
        <div id="sectionsSlider" :class="sectionsSliderClass">

          <section id="appearanceSection" class="section">

            <div class="settings-col settings-col-1">

              <div class="settings-option-wrap">
                <span class="settings-option-title">Run <!--screensaver--> after idle (1-30min)</span>
                <div class="settings-option-control">
                  <input type="number" min="1"
                         :max="maxRunInterval"
                         v-model="settings.runInterval"
                         class="settings-input number-input">
                </div>
              </div>

              <div class="settings-option-wrap">
                <span class="settings-option-title">Lock system on exit</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="lockSystemOnExitChBx" name="lockSystemOnExit" v-model="settings.lockSystemOnExit" >
                  <label for="lockSystemOnExitChBx"></label>
                </div>
              </div>

              <div class="settings-option-wrap">
                <span class="settings-option-title">Change after:</span>
                <div class="vs-radioGroup settings-option-control">
                  <input type="radio" id="changeAfterChoice1"
                   name="change_after" value="interval" v-model="settings.changeAfter">
                  <label for="changeAfterChoice1">Interval</label>

                  <input type="radio" id="changeAfterChoice2"
                   name="change_after" value="videoends" v-model="settings.changeAfter">
                  <label for="changeAfterChoice2">Video ends</label>
                </div>
              </div>

              <div class="settings-option-wrap" :class="{'disabled-option' : changeIntervalDisabled}">
                <span class="settings-option-title">Change interval (1-30min)</span>
                <div class="settings-option-control">
                  <input type="number" min="1"
                         :max="maxVideoChangeInterval"
                         v-model="settings.changeInterval"
                         :disabled="changeIntervalDisabled"
                         class="settings-input number-input">
                </div>
              </div>

              <div class="settings-option-wrap">
                <span class="settings-option-title">Randomize video</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="randomizeVideoChBx" name="randomizeVideo" v-model="settings.randomizeVideo" >
                  <label for="randomizeVideoChBx"></label>
                </div>
              </div>

              <p></p></br>

              <!-- showTrayIcon -->
              <div class="settings-option-wrap disabled-option">
                <span class="settings-option-title">Show tray icon <!--(restart to show settings)--></span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" disabled id="showTrayIconChBx" name="showTrayIcon" v-model="settings.showTrayIcon" >
                  <label for="showTrayIconChBx"></label>
                </div>
              </div>
              <!-- showTrayIcon -->

            </div>


            <div class="settings-col settings-col-2">

              <div class="settings-option-wrap">
                <span class="settings-option-title">Show system clock time</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="showSystemClockTimeChBx" name="showSystemClockTime" v-model="settings.showSystemClockTime" >
                  <label for="showSystemClockTimeChBx"></label>
                </div>
              </div>

              <div class="settings-option-wrap" :class="{'disabled-option' : changeTimeFormatDisabled}">
                <span class="settings-option-title">24h time format</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="use24TimeFormatChBx" name="use24TimeFormat"
                         v-model="settings.use24TimeFormat"
                         :disabled="changeTimeFormatDisabled" >
                  <label for="use24TimeFormatChBx"></label>
                </div>
              </div>

              <div class="settings-option-wrap">
                <span class="settings-option-title">Show video remaining time</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="showVideoRemainingTimeChBx" name="showVideoRemainingTime" v-model="settings.showVideoRemainingTime" >
                  <label for="showVideoRemainingTimeChBx"></label>
                </div>
              </div>

              <div class="settings-option-wrap">
                <span class="settings-option-title">Show video file name on change</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="showVideoFileNameChBx" name="showVideoFileName" v-model="settings.showVideoFileName" >
                  <label for="showVideoFileNameChBx"></label>
                </div>
              </div>

              <div class="settings-option-wrap">
                <span class="settings-option-title">Show Internet connection lost indicator</span>
                <div class="slideCheckBox settings-option-control">
                  <input type="checkbox" id="showInternetConnectionLostIndicatorChBx" name="showInternetConnectionLostIndicator" v-model="settings.showInternetConnectionLostIndicator" >
                  <label for="showInternetConnectionLostIndicatorChBx"></label>
                </div>
              </div>

              <p></p></br>
              <p></p></br>

              <button class="btn" @click="handleDeleteSettings" disabled>test/delete</button>

            </div>

          </section>


          <section id="filesSection" class="section">

            <div class="settings-col settings-col-1">
              <button class="btn" @click="handleAddFiles">Add files</button>
              <span class="btn-notif">duplicates will be skipped</span>
            </div>
            <div class="settings-col settings-col-2">
              <button class="btn" @click="handleClearFiles">Remove all files</button>
              <span class="btn-notif">Files count: {{ filesCount }}</span>
            </div>

            <div class="clearfix-divider"></div>

            <div class="setting-files-wrap" id="settingFilesWrapNode">
              <ul class="file-list" id="fileListNode">
                <li v-for="filePath, filePathindex in settings.files" :index="filePathindex">
                  <span class="file-name">{{ filePathindex }}: {{ filePath }}</span>
                  <span class="file-action file-action-move-up"
                        :class="{'disabled' : filePathindex === 0}"
                        @click="handleMoveFilePathUp(filePath, filePathindex)"
                        title="move up"> &#8679; </span>
                  <span class="file-action file-action-move-down"
                        @click="handleMoveFilePathDown(filePath, filePathindex)"
                        :class="{'disabled' : filePathindex === (settings.files.length - 1) }"
                        title="move down"> &#8681; </span>
                  <span class="file-action file-action-delete"
                        @click="handleRemoveFilePath(filePath, filePathindex)"
                        title="remove"> &times; </span>
                </li>
              </ul>
              <div class="file-list-scroller" v-if="showfileListScroll"><span>&varr;</span></div>
            </div>

          </section>

        </div>

        <div class="clearfix-divider"></div>

        <div class="btn-controls">
          <button class="btn" @click="handleResetSettings" disabled>Reset to default</button>
          <button class="btn btn-close" @click="handleCloseSettings">Close</button>
          <button class="btn right" @click="handleSaveSettings">Save</button>
        </div>

      </div>

    </div>


    <script>
      // You can also require other files to run in this process
      require('./settings-renderer.js')

    </script>
  </body>
</html>
